---
title: Archive
layout: default
pagination:
  data: collections.post
  size: 10
  alias: posts

permalink: "/archive/p{{ pagination.pageNumber | plus: 1 }}.html"
---
<section class="archives" itemscope itemtype="http://schema.org/Blog">
  <a class="nav nav--black" href="{{ site.baseurl }}/">
    <i class="fa fa-lg fa-arrow-left"></i>
    <span>Back to Posts</span>
  </a>
  <header class="archives__header">
    <span>Archive</span>
  </header>
  <div class="section-padding archives__container">
    {% for post in posts %}
      <article class="card" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        <a class="card__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
          <div class="card__img">
            {% if post.image-sm %}
              <figure class="absolute-bg wow" style="background-image: url('{{ post.data.image-sm }}');"></figure>
            {% else %}
              <figure class="absolute-bg wow" style="background-image: url('{{ post.data.image }}');"></figure>
            {% endif %}
          </div>
          <div class="card__container">
            <h2 class="card__header" itemprop="name">{{ post.data.title }}</h2>
            <h4 class="card__header" itemprop="description">{{ post.data.description }}</h4>
            <p class="card__count" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%b %-d, %Y" }}
              {% if post.tags.size > 0 %}
                in {{ post.tags | join: ', ' }}
              {% endif %}
            </p>
            <span class="card__more">Read Post</span>
          </div>
        </a>
      </article>
    {% endfor %}
  </div>
  <ul class="cards">
    <li>
        <a {% if pagination.href.previous %}href="{{ pagination.href.previous }}">
          <i class="fa fa-lg fa-arrow-left"></i>
          <span>Previous</span>
          {%else%}>{% endif%}
        </a>
    </li>
    <li>
      <a {% if pagination.href.next %}href="{{ pagination.href.next }}">
        <span>Next</span>
        <i class="fa fa-lg fa-arrow-right"></i>
        {%else%}>{% endif%}
      </a>
    </li>
  </ul>
</section>
