---
layout: default
pagination:
    data: collections
    size: 1
    alias: tag
permalink: /tags/{{ tag }}/
---

<section class="previews">
    <div>
        <a class="nav nav--white" href="{{ site.baseurl }}/">
            <i class="fa fa-lg fa-arrow-left"></i>
            <span>Back to Home</span>
        </a>
        <figure class="absolute-bg preview__img" style="background-image: url('{{ site.default_welcome_img }}');"></figure>
        {% for post in collections[ tag ] reversed %}
        <figure class="absolute-bg preview__img" style="background-image: url('{{ post.data.image }}');"></figure>
        {% endfor %}
        <div class="previews__container">
            <span>Category</span>
            <h1>{{ tag }}</h1>
        </div>
    </div>

<div>
    <header>
        <ul class="tabs">
            <li class="tabs__item">{{ tag }}</li>
            <li class="tabs__item">Categories</li>
        </ul>
    </header>

    <div class="tab">

        <ul itemscope itemtype="http://schema.org/Blog">
            {% for post in collections[ tag ] reversed %}
            <li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                <a class="preview__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
                    <span class="preview__date" itemprop="datePublished" >{{
                        post.date | date: "%b %-d, %Y" }}</span>
                    <h2 class="preview__header" itemprop="name">{{ post.data.title }}</h2>
                    <p class="preview__excerpt" itemprop="description">{{ post.content | strip_html | truncatewords: 30 }}
                    </p>
                    <span class="preview__more">Read More</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    
        {% include 'archive-link.html' %}
    </div>
    
    {% include 'categories-tab.html' %}
    
</div>


</section>