<div class="tab">
  <ul class="cards">


    {% for category in collections.tagsList %}
      <li class="card">
        {% assign cat_dir = site.category_dir | default: 'category' %}
        <a class="card__link" href="{{ site.baseurl }}/tags/{{ category.title | downcase | slugify }}/index.html">
          {% for post in collections[tags] limit: 1 %}
            <div class="card__img">
              {% if post.image-sm %}
                <figure class="absolute-bg" style="background-image: url('{{ post.image-sm }}');"></figure>
              {% else %}
                <figure class="absolute-bg" style="background-image: url('{{ post.image }}');"></figure>
              {% endif %}
            </div>
          {% endfor %}
          <div class="card__container">
            <h2 class="card__header">{{ category.title }}</h2>
            <p class="card__count">{{ category.count }} Posts</p>
            <span class="card__more">View All</span>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>

  {% include 'archive-link.html' %}
</div>
