@charset "UTF-8";
/**
 * Base Variables
 */
/**
 * Base Settings/Overwrite Normalize
 */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  font-feature-settings: "liga" 0;
  font-size: 90%;
  line-height: 1.6;
}
@media (min-width: 20em) {
  body {
    font-size: 92.5%;
  }
}
@media (min-width: 40em) {
  body {
    font-size: 95%;
  }
}
@media (min-width: 75em) {
  body {
    font-size: 97.5%;
  }
}
@media (min-width: 100em) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 100em) {
  body {
    font-size: 105%;
  }
}
@media (min-width: 114em) {
  body {
    font-size: 115%;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Space Mono", monospace;
  line-height: 1.1;
}

h1, h2, h3 {
  padding-bottom: 0.75em;
  padding-top: 1.25em;
}

h3, h4 {
  padding-bottom: 0.5em;
  padding-top: 1em;
}

@media (min-width: 0) {
  h1 {
    font-size: 1.2em;
  }
}
@media (min-width: 28em) {
  h1 {
    font-size: 1.7em;
  }
}
@media (min-width: 40em) {
  h1 {
    font-size: 2.7em;
  }
}
@media (min-width: 75em) {
  h1 {
    font-size: 2.2em;
  }
}
@media (min-width: 100em) {
  h1 {
    font-size: 2.7em;
  }
}

h2 {
  margin-bottom: 0.25em;
  font-size: 1.75em;
}
@media (min-width: 75em) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  margin-bottom: 0.1em;
  font-size: 1.5em;
}

h4 {
  margin-bottom: 0.1em;
  font-size: 1.25em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #0a0a0a;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}
a:hover, a:active, a:focus {
  color: #9f8f68;
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 75%;
  max-width: 100%;
}

blockquote {
  margin: 2em 0;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.25em;
}

cite {
  display: block;
  margin-top: 0.125em;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-style: normal;
}
cite:before {
  content: "— ";
}

ol, ul {
  margin: 0;
  padding: 0;
}

/**
 * Text Selection
 */
::selection {
  color: #fff;
  background-color: #9f8f68;
  text-shadow: none;
}

/**
 * Codeblocks
 */
pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  border: 2px solid #262626;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #2179b4;
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 1em;
  overflow-x: auto;
}
@media (min-width: 20em) {
  pre {
    font-size: 80%;
  }
}
@media (min-width: 40em) {
  pre {
    font-size: 90%;
  }
}
@media (min-width: 75em) {
  pre {
    font-size: 95%;
  }
}

code {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
}

#content code {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid #bebab0;
}

/**
 * Output Codeblocks
 */
preout {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 95%;
  line-height: 90%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  border: 2px solid #262626;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #ff9800;
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 0em 1em;
  overflow-x: auto;
}
@media (min-width: 20em) {
  preout {
    font-size: 75%;
  }
}
@media (min-width: 40em) {
  preout {
    font-size: 80%;
  }
}
@media (min-width: 75em) {
  preout {
    font-size: 85%;
  }
}

codeout {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 85%;
  white-space: pre;
}

#content codeout {
  display: block;
  /*padding: 0.5em 1em;*/
  border: 1px solid #bebab0;
}

/**
 * Tables
 */
div .tabl {
  overflow-x: auto;
  width: 91.5%;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden;
  box-shadow: 0 0 0 2px #000, 0 0 0 3px #fff, 0 0 0 6px #ff9800;
  margin: 0.5em 0.5em;
  display: inline-block;
}
@media (min-width: 20em) {
  table {
    font-size: 80%;
  }
}
@media (min-width: 40em) {
  table {
    font-size: 90%;
  }
}
@media (min-width: 75em) {
  table {
    font-size: 95%;
  }
}

tr {
  padding: 0.5em;
  text-align: center;
  /*  border-bottom: 1px solid #ddd;*/
  color: #bbb;
}

th {
  font-family: "Space Mono", monospace;
  padding: 0.5em;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #ff9800;
  text-align: center;
  background: #303030;
}

table th {
  font-size: 90%;
}

table td {
  font-size: 85%;
  background: #454545;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

tr:hover :not(th) {
  background-color: #515151;
}

/**
 * Underline Slide from left and back
 */
/**
 * Button Slide
 * Need to still add hover state in parent element
 * box-shadow: inset 175px 0 0 0 $color-alpha;
 * color: $color-white;
 */
/**
 * Flex Grid
 */
/**
 * Box Shadow
 */
/**
 * Letter Spacing
 */
.archives__header, .next__container span, .nav, .footer__archive, .pagination, .card__more, .preview__more, .previews__container span, .tabs {
  font-family: "Space Mono", monospace;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/**
 * Black Color Overlay
 */
.next__link:after, .profile__img:after, .mast:after, .card__img:after, .previews > *:first-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.2);
  transition: background-color 0.4s ease-in-out;
}

/**
 * Body
 */
body {
  background-color: #f8f9f9;
}

/**
 * Sections
 */
section {
  position: relative;
}

.section-padding {
  padding: 4em 0;
}
.section-padding--lg {
  padding: 6em 0;
}
.section-padding--sm {
  padding: 2em 0;
}

/**
 * Class Container (BEM)
 */
[class*=__container] {
  position: relative;
  z-index: 1;
}

/**
 * Blog page
 */
@media (max-width: 75em) {
  .previews {
    display: flex;
    flex-direction: column;
  }
}
.previews > *:first-child {
  position: relative;
  height: 30em;
  background-color: #0a0a0a;
}
@media (min-width: 75em) {
  .previews > *:first-child {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 45%;
  }
}
.previews > *:last-child {
  min-height: 100vh;
}
@media (min-width: 75em) {
  .previews > *:last-child {
    margin-left: 45%;
  }
}

/**
 * Tabs
 * On the Blog page for posts and categories
 */
.tabs {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  list-style-type: none;
}
@media (min-width: 75em) {
  .tabs {
    padding-left: 8em;
    padding-right: 8em;
  }
}
@media (min-width: 114em) {
  .tabs {
    padding-left: 10em;
    padding-right: 10em;
  }
}
.tabs ul {
  list-style-type: none;
}
.tabs__item {
  cursor: pointer;
}
.tabs__item:not(.active) {
  position: relative;
  color: #0a0a0a;
}
.tabs__item:not(.active):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 3px solid #9f8f68;
  transition: width 0.4s ease-in-out;
}
.tabs__item:not(.active):hover:after {
  width: 100%;
}
.tabs__item.active {
  border-bottom: 3px solid #9f8f68;
}

.tab.active {
  will-change: opacity;
  animation: fade-in 1s both;
}
.tab ul {
  list-style-type: none;
}

/**
 * Blog Post Preview
 * On the Blog page
 */
.previews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 2em 2em 20em;
  color: #fff;
}
.previews__container span {
  font-family: "Inconsolata", monospace;
}

.preview {
  transition: background-color 0.3s ease-in-out;
}
.preview:nth-child(even) {
  background-color: #fff;
}
.preview:hover {
  background-color: #f5f3ef;
}
.preview:hover .preview__more {
  box-shadow: inset 175px 0 0 0 #9f8f68;
  color: #fff;
}
.preview__img {
  will-change: opacity;
  animation: fade-in 1s both;
}
.preview__link {
  display: block;
  padding: 2em 1em;
}
@media (min-width: 75em) {
  .preview__link {
    padding: 4em 8em;
  }
}
@media (min-width: 114em) {
  .preview__link {
    padding-left: 10em;
    padding-right: 10em;
  }
}
.preview__date {
  font-family: "Space Mono", monospace;
  color: #0a0a0a;
}
.preview__header {
  color: #9f8f68;
  margin-bottom: 0.5em;
}
.preview__excerpt {
  color: #0a0a0a;
}
.preview__more {
  display: inline-block;
  padding: 0.5em;
  font-family: "Space Mono", monospace;
  color: #9f8f68;
  border: 3px solid #9f8f68;
  box-shadow: inset 0 0 0 0 #9f8f68;
  transition: all 0.4s ease-in-out;
}

/**
 * Category Card
 * On the blog page under category tab
 */
.cards {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding: 2em 1em;
  list-style-type: none;
}
.cards > * {
  padding: 0.25em;
  flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 75em) {
  .cards > * {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 114em) {
  .cards > * {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media (min-width: 75em) {
  .cards {
    padding: 4em 2em;
  }
}

.card__link {
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1), 0 1px 2px rgba(10, 10, 10, 0.2);
  position: relative;
  display: block;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
}
.card__link:after {
  box-shadow: 0 3px 6px rgba(10, 10, 10, 0.1), 0 3px 6px rgba(10, 10, 10, 0.2);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.4s ease-in-out;
}
.card__link:hover {
  background-color: #f5f3ef;
}
.card__link:hover:after {
  opacity: 1;
}
.card__link:hover .card__more {
  box-shadow: inset 175px 0 0 0 #9f8f68;
  color: #fff;
}
.card__img {
  position: relative;
  height: 12em;
  background-color: #0a0a0a;
}
.card__container {
  padding: 2em 1em;
}
.card__header {
  color: #9f8f68;
}
.card__count {
  color: #0a0a0a;
}
.card__more {
  display: inline-block;
  padding: 0.25em;
  font-family: "Space Mono", monospace;
  color: #9f8f68;
  border: 3px solid #9f8f68;
  box-shadow: inset 0 0 0 0 #9f8f68;
  transition: all 0.4s ease-in-out;
}

/**
 * Pagination
 * On the Blog page when enough posts to paginate
 */
.pagination {
  display: flex;
  width: 100%;
}
.pagination > * {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 2em 0;
  color: #fff;
  background-color: #0a0a0a;
  transition: background-color 0.4s ease-in-out;
}
.pagination > *:hover {
  color: #fff;
  background-color: #9f8f68;
}

/**
 * Footer
 */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
}
@media (min-width: 40em) {
  .footer {
    flex-direction: row;
  }
}
.footer__archive {
  position: relative;
  color: #0a0a0a;
}
.footer__archive:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 3px solid #9f8f68;
  transition: width 0.4s ease-in-out;
}
.footer__archive:hover:after {
  width: 100%;
}
.footer__social {
  display: flex;
  margin-top: 1em;
  list-style-type: none;
}
@media (min-width: 40em) {
  .footer__social {
    margin-top: 0;
  }
}
.footer__social > *:not(:last-child) {
  margin-right: 1em;
}

/**
 * Mast
 * On the Post page for the header section
 */
.mast {
  position: relative;
  height: 20em;
  color: #fff;
  background-color: #0a0a0a;
}
@media (min-width: 40em) {
  .mast {
    height: 35em;
  }
}
.mast__img {
  animation: fade-in 2s both;
}
.mast__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 75em) {
  .mast h1 {
    width: 75%;
  }
}

/**
 * Navigation
 */
.nav {
  position: absolute;
  top: 1.25em;
  left: 1em;
  z-index: 99;
  display: flex;
  align-items: center;
  font-family: "Inconsolata", monospace;
}
@media (min-width: 40em) {
  .nav {
    left: 2em;
  }
}
@media (min-width: 40em) {
  .nav i {
    margin-right: 0.5em;
  }
}
.nav span {
  display: none;
}
@media (min-width: 40em) {
  .nav span {
    display: block;
  }
}
.nav--black {
  color: #0a0a0a;
}
.nav--black:hover, .nav--black:active, .nav--black:focus {
  color: #0a0a0a;
}
.nav--white {
  color: #fff;
}
.nav--white:hover, .nav--white:active, .nav--white:focus {
  color: #fff;
}

/**
 * Post
 */
.post {
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
  font-family: "Lora", serif;
}
@media (min-width: 75em) {
  .post {
    width: 55%;
  }
}
.post > *:last-child {
  margin-bottom: 0;
}
.post h1,
.post h2 {
  line-height: 1.2;
}
.post ol, .post ul {
  margin-bottom: 1em;
  margin-left: 1em;
}
.post ol > li, .post ul > li {
  position: relative;
}
.post ol > li:before, .post ul > li:before {
  position: absolute;
  left: -1em;
}
.post ol > li:not(:last-child), .post ul > li:not(:last-child) {
  margin-bottom: 0.25em;
}
.post ol {
  list-style-type: none;
  counter-reset: li;
}
.post ol > li:before {
  content: counter(li) ".";
  counter-increment: li;
}
.post p:first-child {
  font-size: 1.25em;
}
.post a {
  border-bottom: 1px solid #9f8f68;
}
.post img {
  margin: 2em 0;
}
.post figure {
  margin: 2em 0;
}
.post figure > img {
  margin: 0;
}
.post figcaption {
  margin-top: 0.5em;
  font-size: 0.75em;
  text-align: center;
}

/**
 * Profile Card
 */
.profile {
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
  padding-bottom: 4em;
}
@media (min-width: 100em) {
  .profile {
    width: 55%;
  }
}
.profile__card {
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1), 0 1px 2px rgba(10, 10, 10, 0.2);
  display: flex;
  flex-direction: column;
}
@media (min-width: 75em) {
  .profile__card {
    flex-direction: row;
  }
}
.profile__img {
  position: relative;
  min-height: 15em;
  background-color: #0a0a0a;
}
@media (min-width: 75em) {
  .profile__img {
    flex-basis: 45%;
    max-width: 45%;
  }
}
.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  background-color: #fff;
}
@media (min-width: 75em) {
  .profile__container {
    flex-basis: 55%;
    max-width: 55%;
  }
}
.profile__social {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.profile__social > *:not(:last-child) {
  margin-right: 1em;
}

/**
 * Next Post
 * On the Post page for single post pagination
 */
.next {
  background-color: #0a0a0a;
}
.next__link {
  display: block;
  height: 25em;
  padding: 6em 0;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.next__link:hover {
  color: #fff;
}
.next__link:hover:after {
  background-color: rgba(159, 143, 104, 0.8);
}
.next__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.next__container span {
  font-family: "Inconsolata", monospace;
}

/**
 * Archives Page
 * Should be layout, but more elements added
 */
.archives__header {
  padding: 1em;
  text-align: center;
}
.archives__header span {
  border-bottom: 3px solid #9f8f68;
}
.archives__container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  max-width: 100em;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}
.archives__container > * {
  padding: 0.25em;
  flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 75em) {
  .archives__container > * {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 100em) {
  .archives__container > * {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media (min-width: 114em) {
  .archives__container > * {
    flex-basis: 25%;
    max-width: 25%;
  }
}

/**
 * Animations
 */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  will-change: opacity;
  animation: fade-in 2s both;
}

/**
 * Absolute Background Cover
 */
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

/**
 * Color Helpers
 */
.bg-black {
  background-color: #0a0a0a;
}

.bg-grey {
  background-color: #f8f9f9;
}

.bg-white {
  background-color: #fff;
}